.item_div {
    background: #0088aa;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    margin: 15px;
    width: 30%;
    height: 200px;
    overflow: auto;
    cursor: pointer;
}

.item_title {
    margin: 10px;
    text-align: center;
}

.item_description {
    display: inline-block;
    word-wrap: break-word;
    vertical-align: top;
    width: 55%;
    margin: 1%;
}


.item_image {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    height: 65%;
}

.item_image img {
    width: 100%;
    height: 100%;
}
