.dialog-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.post-dialog {
  padding: 10px;
  margin: 150px auto;
  width: 600px;
  height: 480px;
  background-color: #CCCCCC;
  border-radius: 8px;
}

.post-head-container {
  height: 12%;
  width: 100%;
  border-bottom: 1px solid black;
}

.post-head-container h2 {
  text-align: center;
  margin: 0;
  font-size: 2em;
}

.post-info-item {
  margin-top : 2%;
  width: 100%;
}

.post-info-item label {
  font-family: sans-serif, monospace;
  font-size: 1.3em;
  margin-left: 55px;
}

.post-info-item input, .post-info-item textarea {
  height: 40px;
  width: 80%;
  display: block;
  margin:  10px auto;
  border-radius: 6px;
}

.post-info-item textarea {
  height: 120px;
}

#item-price {
  display: inline-block;
  width: 21%;
  height: 24px;
  font-size: 1.3em;
  margin: 0 0 0 3%;
}

.post-info-item span {
  font-size: 1.1em;
}

.post-info-item span:first-child {
  margin-left: 8%;
}

.post-info-item select{
  margin-left: 2%;
  font-size: 1.1em;
  border-radius: 6px;
  border: 1px solid black;
  background-color: #44DDDD;
  color: #800000;
}

.post-info-item span:nth-child(3) {
  margin-left: 2%;
}

.image-picker-container {
  width: 100%;
  margin-top: 15px;
}

.image-picker-container input {
  display: none;
}

.image-picker-container button {
  margin: auto;
  display: block;
  width: 250px;
  height: 30px;
  border-radius: 6px;
  background-color: white;
}

.post-btn-container {
  margin-top: 12px;
  width: 100%;
}

.post-btn-container button {
  width: 90px;
  height: 30px;
  border-radius: 6px;
  background-color: white;
}


#post-cancel {
  float: right;
  margin-right: 175px;
}

#post-submit {
  margin-left: 175px;
}
