<!DOCTYPE html>

<html lang="en">

<head>
	<title>Game Sharer</title>
	<meta charset="utf-8" />
	<link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="javascripts/users.js"> </script>
	<script src="javascripts/index.js"> </script>
</head>

<body>
  <% include ./templates/nav %>
  <% include ./templates/login %>
  <% include ./templates/logout %>
</body>


</html>
