<!DOCTYPE html>

<html lang="en">

<head>
	<title>Game Sharer</title>
	<meta charset="utf-8" />
	<link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
	<link href="stylesheets/index.css" type="text/css" rel="stylesheet" />
	<link href="stylesheets/item_templates.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/users.js"> </script>
	<script src="javascripts/item_templates.js"></script>
	<script src="javascripts/item_utils.js"></script>
	<script src="javascripts/index.js"> </script>
</head>

<body>
  <% include ./templates/nav %>
  <% include ./templates/login %>
  <% include ./templates/signup %>


  <div id="game_div">
		<h1> Game </h1>
		<div class="content">  </div>
		<a href="/items-page?category=game" class="ref"> View More </a>
  </div>
  <hr>
  <div id="console_div">
  	<h1> Console </h1>
		<div class="content"> </div>
		<a href="/items-page?category=console" class="ref"> View More </a>
  </div>

</body>


</html>
