<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
    <link href="stylesheets/item_templates.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/profile.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/item_templates.js"></script>
	  <script src="javascripts/item_utils.js"></script>
    <script src="javascripts/items.js"></script>
    <script src="javascripts/nav.js"></script>
  </head>
  <body>
    <% include ./templates/nav %>
    <div id="item-page-title">
        <h1>Game</h1>
    </div>
    <div id="item-page-content">
    </div>
  </body>
</html>
