<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/profile.css"/>
    <title></title>
    <script src="javascripts/jquery.js"></script>
  	<script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/profile.js"></script>
  </head>
  <body>
    <% include ./templates/nav %>
    <% include ./templates/post-dialog %>
    <div class="profile-container">
      <div class="profile-title-container">
        <h1 class="profile-title">Profile</h1>
      </div>
      <div class="profile-body-container">
        <div class="profile-img-container">
          <img src="/img/cat.jpeg" alt="Loading" id="img-avatar" />
          <input type="file" id="input-avatar" />
        </div>
        <div class="profile-info-container">
          <div class="info-item">
            <span class="label">Name: </span>
            <input type="text" id="input-username"/>
          </div>
          <div class="info-item">
            <span class="label">Email: </span>
            <input type="text" id="input-email"/>
          </div>
          <div class="info-item">
            <span class="label">Phone Number: </span>
            <input type="text" id="input-phone"/>
          </div>
        </div>
        <div class="profile-description-container">
          <textarea id="user-description" placeholder="Your Description"></textarea>
        </div>
      <div class="profile-btn-container">
        <button id="my-posts-btn">My Items</button>
        <button id="post-item-btn">Post New Item</button>
        <button id="update-profile-btn">Update Profile</button>
      </div>
      </div>
    </div>
  </body>
</html>
