<ul id="navbar">
    <li class="left title">Game Sharer</li>
    <li class="left"><a class="active" href="/">Home</a></li>
    <li class="left"><a class="active" href="/items-page/?category=game">Game</a></li>
    <li class="left"><a class="active" href="items-page/?category=console">Console</a></li>
	<li class="left"><a href="/post">Your Posts</a></li>
	<li id="addPost" class="left"><a href="/addPost">Add Posts</a></li>

    <li class="sign-up right"><a>Sign up</a></li>
    <li class="sign-in right"><a>Login</a></li>
    <!--<li id='logout' class='right'><a>Logout</a></li>-->
</ul>