<div class="dialog-container">
  <div class="post-dialog">
    <div class="post-head-container">
      <h2>Post New Item</h2>
    </div>
    <div class="info-item">
      <label for="item-title">Title</label><br/>
      <input type="text"  id="item-title" />
    </div>
    <div class="info-item">
      <label for="item-Description">Description</label><br/>
      <textarea id="item-description"></textarea>
    </div>
    <div class="image-picker-container">
      <input type="file" id="item-image" />
      <button id="post-img-btn">Add Image</button>
    </div>
    <div class="post-btn-container">
      <button id="post-submit">Submit</button>
      <button id="post-cancel">Cancel</button>
    </div>
  </div>
</div>
